**PANDAS** is a python library for data manipulation and analysis.

There are 2 new data types-

i)**Series** 
- used for analysing 1D datasets 
- ie basically a column of data
- Can be made of a list, a tuple or a dictionary

ii)**DataFrame** 
- used for analysing 2D datasets 
- Stores related multiple columns of data
- Can be made of list of lists or list of tuples

In [ ]:
#pip install pandas

In [ ]:
import pandas as pd

SERIES

In [ ]:
a=pd.Series()
a

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [ ]:
l=[1,2,3,4,7,5,6]                                             #list
l1=pd.Series(l,dtype="float64",index=["a","b","c","d","e","f","g"])
l1

a    1.0
b    2.0
c    3.0
d    4.0
e    7.0
f    5.0
g    6.0
dtype: float64

In [ ]:
t=(9,2,3,4,7,5,6)                                              #tuple
t1=pd.Series(t,dtype="int")
t1

0    9
1    2
2    3
3    4
4    7
5    5
6    6
dtype: int64

In [ ]:
d={1:23,2:56,3:67.0,9:67}                                       #dictionary
d1=pd.Series(d,dtype='float') 
d1

1    23.0
2    56.0
3    67.0
9    67.0
dtype: float64

In [ ]:
ld = {'one' :[3,4,5] , 'two' :[4,6,7] , 'three' : [7,8,9]}     #list in dict    #d
ld1=pd.Series(ld)
print(ld1)

one      [3, 4, 5]
two      [4, 6, 7]
three    [7, 8, 9]
dtype: object

In [ ]:
print(l1)
print(l1.shape)

a    1.0
b    2.0
c    3.0
d    4.0
e    7.0
f    5.0
g    6.0
dtype: float64
(7,)

In [ ]:
print(l1.index)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [ ]:
print(l1.values)

[1. 2. 3. 4. 7. 5. 6.]

In [ ]:
print(l1.keys())

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [ ]:
#print(l1[3:5])
#print(l1[:"d"])  
print(l1[0:])

a    1.0
b    2.0
c    3.0
d    4.0
e    7.0
f    5.0
g    6.0
dtype: float64

DATAFRAME

In [ ]:
df=[[1,2,3,4],[3,4,4,5]]                              #list of lists
df1 = pd.DataFrame(df,columns=["col1","col2","col3","col4"],dtype=float,index=['a','b'])
#df1 = pd.DataFrame(df,dtype=float)
df1

   col1  col2  col3  col4
a   1.0   2.0   3.0   4.0
b   3.0   4.0   4.0   5.0

In [ ]:
df2=df1.append({"col1":23,"col2":63,"col3":44,"col4":11},ignore_index=True)
df2

   col1  col2  col3  col4
0   1.0   2.0   3.0   4.0
1   3.0   4.0   4.0   5.0
2  23.0  63.0  44.0  11.0

In [ ]:
df2=df1.append([[23,44,56,77]],ignore_index=True)
df2

   col1  col2  col3  col4     0     1     2     3
0   1.0   2.0   3.0   4.0   NaN   NaN   NaN   NaN
1   3.0   4.0   4.0   5.0   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN  23.0  44.0  56.0  77.0

In [ ]:
r1=df2.fillna(5) 
print(r1)

   col1  col2  col3  col4     0     1     2     3
0   1.0   2.0   3.0   4.0   5.0   5.0   5.0   5.0
1   3.0   4.0   4.0   5.0   5.0   5.0   5.0   5.0
2   5.0   5.0   5.0   5.0  23.0  44.0  56.0  77.0

In [ ]:
r2=df2.dropna()  
print(r2)

Empty DataFrame
Columns: [col1, col2, col3, col4, 0, 1, 2, 3]
Index: []

In [ ]:
a=[(1,2,3,4),(5,6,7)]                                       #list of tuples
df=pd.DataFrame(a,columns=["a","b","c","d"])
df

   a  b  c    d
0  1  2  3  4.0
1  5  6  7  NaN

In [ ]:
df.info()                                                   # detail of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   c       2 non-null      int64
 3   d       1 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 192.0 bytes

In [ ]:
print(df.isnull().sum())                                    # to find the nan values in each column

a    0
b    0
c    0
d    1
dtype: int64

In [ ]:
dd={"a":[1,2,3,4],"b":[4,5,6,6],"c":[4,5,6,7]}         
df=pd.DataFrame(dd)
df

   a  b  c
0  1  4  4
1  2  5  5
2  3  6  6
3  4  6  7

In [ ]:
#print(df["a"])
#print(df[['a','b']])
#print(df.mean())
print(df.max(axis=1))                                        #by default, axis=0 - column wise

0    4
1    5
2    6
3    7
dtype: int64

In [ ]:
print(df)
print(df.iloc[1:2,1:2])
print(df.loc[0:3,"a":"b"])                                   #inclusive end value

   a  b  c
0  1  4  4
1  2  5  5
2  3  6  6
3  4  6  7
   b
1  5
   a  b
0  1  4
1  2  5
2  3  6
3  4  6

In [ ]:
df["newcol"]=pd.Series([1,2,34,5])                     # add new columns to the dataframe

df["seccol"]=pd.Series([5,6,7,8])
df

   a  b  c  newcol  seccol
0  1  4  4       1       5
1  2  5  5       2       6
2  3  6  6      34       7
3  4  6  7       5       8

In [ ]:
df.sort_values(['newcol'])

   a  b  c  newcol  seccol
0  1  4  4       1       5
1  2  5  5       2       6
3  4  6  7       5       8
2  3  6  6      34       7